* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  resize: both;
  overflow: auto;
}

.index-container {
  width: max-content;
  max-height: 250px;
  background-color: #333;
  position: relative;
  margin: 0 auto;
  padding: 30px;
  overflow: hidden;
  box-shadow: 0 10px 30px #d0d0d0;
}

.main-container {
  width: max-content;
  max-height: 310px;
  height: 310px;
  background-color: #333;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 10px 30px #9f9f9f;
}

.sub-container-left {
  padding: 30px;
  float: left;
  height: 100%;
  background-color: #478fff;
  overflow: auto;
}

.sub-container-right {
  padding: 30px;
  float: right;
}

.title-right {
  font-size: 30px;
  text-align: left;
  color: #478fff;
  font-weight: bold;
}

.title-left {
  font-size: 24px;
  text-align: left;
  margin-top: 6px;
  color: #333;
  font-weight: bold;
}

.title-index {
  font-size: 20px;
  color: #478fff;
  font-weight: bold;
}

hr {
  margin: 10px 0;
  background-color: #478fff;
  border: none;
  height: 2px;
}

.sub-title,
.user-list {
  font-size: 11.5px;
  color: #fff;
  line-height: 1.75em;
  font-weight: bolder;
  margin: 0;
  text-align: left;
}

.user-list {
  color: #333;
}

.text {
  background-color: #333;
  color: #478fff;
  width: 250px;
  padding: 15px;
  border: none;
  border-bottom: 1.5px solid #478fff;
  box-sizing: border-box;
}

.text:-webkit-autofill {
  -webkit-text-fill-color: #478fff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #333 inset;
  box-shadow: 0 0 0 30px #333 inset;
}

.text:focus {
  outline: none;
}

input[type="submit"] {
  background-color: #478fff;
  font-weight: bold;
  color: #f6f6f6;
  border: none;
  text-decoration: none;
  display: block;
  float: right;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px auto 0 auto;
  box-shadow: 0 8px 25px #3d5985;
}

input[type="submit"].signin {
  position: fixed;
  right: 30px;
  bottom: 80px;
}

input[type="submit"]:hover {
  background-color: #3c84f5;
}

input[type="submit"].signout {
  background-color: #ff5953;
  box-shadow: 0 8px 25px #6d221f;
}

input[type="submit"].signout:hover {
  background-color: #f6504a;
}

.warning {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  color: #fc5353;
}

.snackbar {
  visibility: visible;
  position: relative;
  max-width: 150px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  z-index: 1;
  top: 100px;
  margin: 0 auto;
  font-size: 14px;
  animation-name: test;
  animation-duration: 0.7s;
}

@keyframes test {
  0% {
    top: 120px;
    opacity: 0;
  }
  100% {
    top: 100px;
    opacity: 100%;
  }
}

.user-list {
  width: 60%;
  margin-top: 15px;
  background-color: #f6f6f6;
  border-radius: 18px;
  cursor: pointer;
  padding: 8px 14px;
  float: left;
  display: inline-block;
}

.user-list:hover {
  background-color: #efefef;
}

label.so {
  margin-top: 18px;
  font-weight: bold;
  display: block;
  float: right;
  padding: 8px;
  font-size: 11.5px;
  background-color: #ff5953;
  border-radius: 6px;
  cursor: pointer;
  color: #f6f6f6;
  box-shadow: 0 8px 25px rgba(246, 80, 74, 0.6);
}

label.so:hover {
  background-color: #f6504a;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #606060;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
